@model TakeSurveyViewModel

<style>
.box-container {
	height: 200px;
}

.box-item {
	width: 100%;
	z-index: 1000
}
</style>

<form method="post" asp-controller="Survey" asp-action="Take" class="form-horizontal">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Questions / Statements</h1>
                        </div>
                        <div id="questions" class="panel-body box-container" style="height: auto">
                            @for (var i = 0; i < Model.QResponseList.Count; i++)
                            {
                                @Html.HiddenFor(x => x.QResponseList[i].QuestionId)
                                @Html.HiddenFor(x => x.QResponseList[i].QuestionValue)
                                @Html.HiddenFor(x => x.QResponseList[i].value, new { id= i})
                               <div itemid="@i" currentlocation="neutral" class="btn btn-default box-item" style="width: 100% ;height: auto;">@Model.QResponseList[i].QuestionValue</div>
                            }
                        </div>
                    </div>
             </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Most Agree</h1>
                    </div>
                    <div id="magree" class="panel-body box-container" style="width: auto; height: auto">

                    </div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Agree</h1>
                    </div>
                    <div id="agree" class="panel-body box-container" style="width: auto; height: auto"></div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Neutral</h1>
                    </div>
                    <div id="neutral" class="panel-body box-container" style="width: auto; height: auto"></div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Most Disagree</h1>
                    </div>
                    
                    <div id="mdisagree" class="panel-body box-container" style="width: auto; height: auto"></div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Disagree</h1>
                    </div>
                    <div id="disagree" class="panel-body box-container" style="width: auto; height: auto"></div>
                </div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-default btn-success col-lg-10">Submit</button>
        </div>
    </div>
</form>

    <script>

        $(document).ready(function () {

            $('.box-item').draggable({
                cursor: 'move',
                helper: "clone"
            });

            $("#questions").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj = document.getElementById(itemid);

                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#questions");
                            obj.value = 0;
                        }
                    });
                }
            });

            $("#magree").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj =  document.getElementById(itemid);

                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#magree");
                            obj.value =2;
                        }
                    });
                }
            });

            $("#agree").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj = document.getElementById(itemid);
                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#agree");
                            obj.value = 1;
                        }
                    });
                }
            });

            $("#neutral").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj = document.getElementById(itemid);
                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#neutral");
                            obj.value = 0;
                        }
                    });
                }
            });

            $("#mdisagree").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj = document.getElementById(itemid);
                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#mdisagree");
                            obj.value = -2;
                        }
                    });
                }
            });

            $("#disagree").droppable({
                drop: function (event, ui) {
                    var itemid = $(event.originalEvent.toElement).attr("itemid");
                    var obj = document.getElementById(itemid);
                    $('.box-item').each(function () {
                        if ($(this).attr("itemid") === itemid) {
                            $(this).appendTo("#disagree");
                            obj.value = -1;
                        }
                    });
                }
            });
        });

    </script>
